<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem-vindo à Aurora! Sua destinação criativa para todas as necessidades de papelaria.
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Na Aurora, acreditamos que cada traço, cada palavra e cada ideia merecem ser expressos com qualidade e estilo. Somos mais do que uma simples papelaria – somos uma fonte de inspiração para todos os seus projetos criativos e necessidades do dia a dia.
    </mat-card-subtitle>
</mat-card>